GCS_BUCKET_NAME=
DISCORD_WEBHOOK_URL=
GCP_PROJECT=

GHCR_IMAGE=ghcr.io/redsylx/tldr-discord-service
AR_REMOTE_IMAGE=asia-southeast2-docker.pkg.dev/<project>/ghcr-remote/redsylx/tldr-discord-service
VERSION=v0.1.0
REGION=asia-southeast2
SERVICE_NAME=tldr-discord-service